body {
    margin: 0;
    font-family: var(--primary-font);
    margin-bottom: 4rem;
    

}
.productos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.producto {
    width: 200px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.producto img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .producto {
        width: 40%;
    }
}

@media (max-width: 480px) {
    .producto {
        width: 90%;
    }
}



.slider {
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);
    justify-content: center;
}

.slider .slide {
    width: 200px;
    margin: auto;
}

.slider .slide img {
    width: 110%;
    
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 8));
        transform: translateX(calc(-200px * 8));
    }
}



.easy_zoom{
    width:600px;
    height:600px;   
    border:5px solid #eee;
    background:#fff;
    color:#333;
    position:absolute;
    top:60px;
    left:350px;
    overflow:hidden;
    -moz-box-shadow:0 0 10px #777;
    -webkit-box-shadow:0 0 10px #777;
    box-shadow:0 0 10px #777;
    /* vertical and horizontal alignment used for preloader text */
    line-height:400px;
    text-align:center;
}












